- @listings.each do |listing|
  %h2 #{listing.title}
  .row
    .col-xs-2
      =link_to listing_path(listing.id) do
        =image_tag listing.picture, height: '150',width: '150'
    .col-xs-10
      .label.label-primary
      =link_to listing.category.title, listings_path(category_id: listing.category.id)
      %br
      %p="#{listing.created_at}"
      %b
        ="#{listing.price} $"
      %p
        #{listing.description}
      .clearfix
        %br/
      %a.btn.btn-primary.pull-right{"data-do" => "showContactModal", "data-id" => "#{listing.id}","data-user" => "#{current_user.try(:id)}"}= t('contact')

  %hr


= render partial: '/modals/modal.html.haml'
