%h2= "Defail view for listing #{@listing.id}"
%h3="#{@listing.id} - #{@listing.title}"
=image_tag @listing.picture, height: '150', width: '150'
%h3="#{@listing.category.title}"
%br
="#{@listing.description}"
/=image_tag @listing.picture
