%h2= "Defail view for listing #{@listing.id}"
%h3="#{@listing.id} - #{@listing.title}"
=image_tag @listing.picture, height: '150', width: '150'
%h3="#{@listing.category.title}"
%br
="#{@listing.description}"

= form_tag account_comments_path do
  %textarea{name:'comment[content]'}
  %input{type:'hidden',name:'comment[listing_id]',value:"#{@listing.id}"}
  =submit_tag 'Submit', class:'btn btn-warning'
